extends layout

block content

    h2.text-center 404 error

    .jumbotron.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
        p Whatever you're trying to find, it's not here.
        .text-center
            img.img-responsive(alt="some fancy illustration of a broken mug maybe", src="http://farm1.staticflickr.com/22/32961522_c7a8988b93_o.jpg")
