extends layout

block content
    h2.text-center I have something to share

    .jumbotron.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
        form#update(role="form", method="post", action="#{dir}/have")
            +trade_form('have')
            .row
                .col-sm-8.col-sm-offset-2
                    button.btn.btn-primary.btn-lg.btn-block(type="submit") Submit
