extends layout

block content
    h2.text-center Welcome to TeaHarmony

    p.lead.text-center TeaHarmony is a website for exchanging all sorts of
        | things in Bellingham, WA at WWU.

    .row
        .col-lg-offset-4.col-lg-4.col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8
            a#index-btn.btn.btn-block.btn-lg.btn-primary(href="#{dir}/list") See what people have!

    br

    img.text-center.img-responsive.img-rounded(src="/img/kaylee_brew.jpg")


