extends layout

block content

    h2.text-center SCOBY

    br
    .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
        p.lead Symbiotic Culture Of Bacteria and Yeast
        p SCOBY's are used to ferment Kombucha.
