extends layout

block content

    h2.text-center Water Kefir Grains

    br
    .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
        p Kefir grains can be used to ferment and carbonate various drinks.
